
.card {
  width: 200px;
  height: auto;
  padding: 20px 16px;
  border: 0.8px solid $border-color;
  border-radius: 4px;

  background-color: $background-white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

  position: relative;
  transition: transform 300ms ease;

  &:hover {
    transform: scale(1.2);
    z-index: 10;

    &__title {
      color: #34568b;
    }

  }

  &__image {
    width: 160px;
    height: 134px;
    margin-left: 6px;
    border-radius: 4px;
  }

  &__title {
    width: 166px;
    height: 36px;
    margin: 34px 3 7px;

    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $text-color-blue-1;
    text-align: left;
    letter-spacing: -0.1px;
    transition: color 300ms ease;

  }


  &__code {
    margin: 0 3px;
    font-size: 10px;
    color: $text-price;
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 56px;
    padding: 25px 3px 30px;

    font-size: 10px;
    font-weight: 400;
    color: $text-color-blue-1;
    white-space: nowrap;
  }

  &__price-label {
    margin-top: 4px;
    font-size: 12px;
    color: $text-price;
  }

  &__price-info {
    display: flex;
    gap: 90px;
    align-items: flex-start;

    margin-bottom: 16px;
    margin-left: 3px;
  }

  &__price-value {
    font-size: 16px;
    font-weight: 700;
    color: $text-color-blue-1;
  }

  &__buy {
    display: inline-block;
    align-items: center;

    width: 166px;
    height: 40px;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 5px;

    color: $background-white;
    text-align: center;
    text-decoration: none;

    background-color: $button-color;

    &:hover {
      border: 1px solid $button-hover;
      color: $button-hover;
      background-color: #fff;

  }
  }
}
