

.catalog__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $gap-vertical $gap-horizontal;
  justify-content: center;
  align-items: start;
  padding: 50px 40px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, minmax($card-width, 1fr));
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax($card-width, 1fr));
    padding: 40px 30px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax($card-width, 1fr));
    padding: 50px 40px;
  }
}
