// Cores
$color-nav-link: #060b35;
$color-nav-link-hover: #00acdc;
$button-hover: #00acdc;
$color-card-title-hover: #34568b;
$border-color: #fff;
$text-color-blue-1: #060b35;
$text-price: #616070;
$background-white: #fff;
$button-color: #00acdc;


//Tamanhos
$card-width: 200px;
$gap-horizontal: 46px;
$gap-vertical: 48px;
$catalog-padding-vertical: 50px;
$catalog-padding-horizontal: 40px;
